.box{
     width: 100px;
     height: 100px;
     border: 1px solid gray;
}

#static{
     background-color: red;
     position: static;
}

#relative{
     background-color: blue;
     position: relative;
     top: 70px;
     left: 600px;
     
}

#absolute{
     background-color: black;
     position: absolute;
     top: 200px;
     left: 300px;
}

#fixed{
     background-color: green;
     position: fixed;
     top: 500px;
     left: 500px;
     z-index: 0;
}

#sticky{
     position: sticky;
     background-color: green;
     top: 1%;
     z-index: 1;
}