body{
      background-color: black;
     margin: 0;
     padding: 0;
     width: auto;
     box-sizing: border-box;
     transition: all 0.8s ease;
}







/* the side bar menu */
 .sidenav { 
     height: 100%;  
     width: 80px;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: rgba(128, 128, 128, 0.233);
     opacity: 1;
      overflow: hidden; 
     padding-top: 20px;
     border: 1px solid black;
     /* display: grid;
     grid-template-columns: 100%;
     grid-template-rows: 100px ; */
}

/* the navigation menu link */
 .sidenav a {
      padding: 6px 8px 6px 16px; 
     text-decoration: none;
     font-size: 35px;
     height: 140px;
     text-align: center;
     color: whitesmoke;
     border-radius: 10px 0 0 10px;
     display: block;
     transition: all 0.3s ease; 
}
/* small image at the top of the navbar */
.small-img{
     background-color: black;
     
}

div a img{
     width: 105%;
      background-color: rgba(220, 220, 220, 0.349); 
      background-color: black;
     z-index: 1;
}
/* ............ */

.fa-home{
     position: relative;
     top: -1px;
     
}
.home1{
     font-size: 15px;
     text-transform: capitalize;
     color: rgba(255, 228, 196, 0.89);
} 


/* /* hover  on sidenav*/
 .sidenav a:hover{
     color: gray;
     background-color: rgba(128, 128, 128, 0.233);
}

/* the im kingdavid blah blah blah */
#main{
     background-image: url(2499089.jpg);
     
          position: absolute;
          left: 300px;
          top: 0px;
          width: 60%;
          height: 600px;
          background-repeat: no-repeat;
          background-size: cover;
          
     }
     

/* style page content */
/* responsivity */

 @media screen and (max-heigh: 450px) {
     .sidenav {padding-top: 15px;}
     .sidenav {padding-top: 15px;}
}

   

 .reveal{
     position: absolute;
     top: 30%;
     left: 10%;
     transform: translate(-50%, -50%);
     font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     display: flex;
     
     
   
} 


#text-anim h1{
     color: transparent;
     font-size: 35px;
     position: relative;
     margin-top: 0;
     padding: -13;
     display: inline-block;
     animation: text_reveal 2s ease forwards;
     animation-delay: 2s;
}
     


 h1 span {
     position: absolute;
     left: 0;
     top: 0;
     height: 100%;
     width: 0%;
     border-radius: 10px;
      background: whitesmoke;
      animation: overlay 3s ease forwards;
        animation-delay: 4s;  
}

 #anim1{
     animation-delay: 1s;
}
#anim2{
     animation-delay: 2s;
}

  #anim3{
     animation-delay: 3s;
} 

#anim1 span{
     animation-delay: .6s;     

}
#anim2 span{ 
     animation-delay: .7s;    

}
#anim3 span{ 
     animation-delay: .8s;    

} 

.reveal .main-content{
     flex: 1;
}

/* the about */
#about{
     position: absolute;
     left: 110px;
     top: 600px; 
      width: auto;
      height: 600px;
      color: whitesmoke;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

.about-p{
     font-size: 15px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: rgba(222, 184, 135, 0.404);
}

.about-h2{
     font-size: 40px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr{
     position: relative;
     top: -12px;
     width: 200px;
     margin: 0;
}
/* ....................... */
.container{
     width: 100%;
     background-color: #ddd;
}

.skill{
     text-align: right;
     padding-top: 2px;
     padding-bottom: 2px;
     color: white;
}

.web{
     width: 50%;
     background-color: rgba(116, 122, 105, 0.842);
     
}

.bass{
     width: 70%;
     background-color: rgba(116, 122, 105, 0.842);

}

.achivement{
     color: black;
     background-color: rgba(255, 235, 205, 0.932);
     padding: 4px;
     width: 99.3.1%; 
     display: flex;
     justify-content: space-around;  
}

.prices{
     
}

@keyframes overlay {
     50%{
          width: 100%;
          left: 0;
     }
     100%{
          left: 0%;
          width: 0;
     }
}

@keyframes text_reveal{
     100%{
          color: rgba(255, 228, 196, 0.925);
          font-size: 30px;
          text-shadow: black;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          position: relative;
          left: 9px;
          font-stretch: extra-expanded;
     }
}
